/*--------------------------------------------------
  GENERAL
--------------------------------------------------*/

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-height: 100%;
    background: url(../img/bg.png) no-repeat top center;
    overflow: hidden;
}

.img-responsive {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.flex{
    display: flex;
}

.flex.h.center{
    justify-content: center;
}

.flex.v.center{
    align-items: center;
}

.btn_white {
    background: #fff;
    border: 2px solid rgba(189, 189, 189, 0.5);
}

.btn_without {
    background: none !important;
}

.btn_without:hover {
    border-color: #fff;
    background: #fff !important;
    color: #000;
}

.btn_without:hover span {
    transition: all ease 0.4s;
    color: #FF2600;
}

.text-center{
    text-align: center;
}

.half{
    width: 50%;
    margin: 0 auto
}

.red{
    color: #FF2600;
}

.top-20{
    margin-top: 20px;
}

.top-30{
    margin-top: 30px;
}

.top-45{
    margin-top: 45px;
}

.bottom-0{
    margin-bottom: 0;
}

.bottom-20{
    margin-bottom: 20px;
}

.bottom-30{
    margin-bottom: 30px;
}

.bottom-45{
    margin-bottom: 45px;
}

.right-10{
    margin-right: 10px;
}

.uppercase{
    text-transform: uppercase;
}

input[type=checkbox],
input[type=radio] {
    display: none !important;
}

input[type=radio]+span {
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    margin-right: 27px;
    margin-top: -3px;
}

input[type=radio]:checked+span {
    border-color: #1CC96C;
    position: relative;
}

input[type=radio]:checked+span:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1CC96C;
    position: absolute;
    top: 3px;
    left: 3px;
}

.center {
    text-align: center;
}

.btn_right_sidebar {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background: #1CC96C;
    width: 60px;
    height: 40px;
    position: absolute;
    top: 17px;
    right: -18px;
    text-align: center;
    vertical-align: middle;
    padding-top: 11px;
    z-index: 9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn_right_sidebar.producer{
    top: 40px;
    right: 10px;
}

.btn_right_sidebar:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border: 20px solid rgba(255, 255, 255, 0);
    border-left-color: #1CC96C;
    border-left-width: 9px;
    top: 0;
    right: -29px;
}

.pl_head {
    border: 2px solid #545669;
    border-left: none;
    margin-left: 30px;
    font-size: 14px;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    margin: 25px 30px 30px;
    position: relative;
    text-transform: uppercase;
    height: 51px;
    font-weight: 700;
    width: 258px;
    font-family: 'Roboto', sans-serif;
}

.pl_head:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 50px;
    left: -19px;
    top: -1px;
    background: url(../img/corner-menu-item.png) no-repeat 0 0;
}

.info {
    color: #2E303A;
    font-size: 14px;
}

.info p {
    margin-bottom: 20px;
}

/*--------------------------------------------------
  FULLSCREEN OVERLAY MENU
--------------------------------------------------*/

.menu_upper_block{
    width: 350px;
    text-align: left;
    margin: 0 auto;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(50,52,64, 0.9);
    overflow-x: hidden;
    transition: opacity 0.5s;
}

.overlay-content {
    top: 50%;
    margin-top: -235px;
    position: relative;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    z-index: 11;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}