/*--------------------------------------------------
  LEFT SIDEBAR
--------------------------------------------------*/

aside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.menu_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 75px;
    background: rgba(44, 46, 56, 0.9);
    padding-top: 21px;
}

.menu_left a {
    position: relative;
}

.menu_left .icon-search{
    cursor: pointer;
}

.menu_left [class^="icon-"] .pl_head,
.menu_left [class*=" icon-"] .pl_head {
    position: absolute;
    left: 107px;
    top: 50%;
    margin: -24px 0 0 0;
    padding-top: 17px;
}

.menu_left a {
    display: block;
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    padding: 15px 0;
    text-align: center;
    transition: all 1s;
}

.menu_left a.icon-price{
    padding-top: 25px;
}

.menu_left a:hover,
.menu_left a.active {
    color: #FF2600;
}

.menu_left a.menu_a {
    padding: 19px 0;
    margin-bottom: 0;
}

.menu_left a.menu_a.icon-menu {
    font-size: 12px;
}

.menu_left a.icon-hot_interface {
    color: #FF2600;
}

.menu_left a.icon-settings {
    color: #1CC96C;
}

.menu_left div.menu_a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
    position: relative;
    font-size: 18px;
    background: rgba(82, 85, 101, 0.9);
}

.menu_left div.menu_a .left_search {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 289px;
    background: rgba(82, 85, 101, 0.9);
    text-align: left;
}

.menu_left div.menu_a input[type=text] {
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    color: #fff;
    width: 100%;
}

.menu_left div.menu_a input[type=text]::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
}

.menu_left div.menu_a input[type=text]:-moz-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
}

.menu_left div.menu_a input[type=text]::-moz-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
}

.menu_left div.menu_a input[type=text]:-ms-input-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
}

.menu_ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 90px;
    margin-right: -90px;
    overflow-y: hidden;
    overflow-x: auto;
}

.menu_ul a {
    text-decoration: none;
}

.menu_ul ul {
    padding-left: 22px;
}

.menu_ul li {
    position: relative;
}

.menu_ul li.current>a {
    color: #1CC96C !important;
    font-weight: 700;
}

.menu_ul li:hover>a {
    color: #1CC96C !important;
}

.menu_ul li>ul {
    display: none;
}

.menu_ul>li {
    margin-bottom: 9.5px;
}

.menu_ul>li>a {
    color: #fff;
    text-transform: uppercase;
}

.menu_ul>li>ul {
    list-style-type: none;
    margin-top: 18px;
    margin-bottom: 16px;
}

.menu_ul>li>ul a {
    color: rgba(255, 255, 255, 0.5);
}

.menu_ul>li>ul>li {
    margin-bottom: 7px;
}

.menu_ul>li>ul>li:before {
    content: "\e911";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 7px;
}

.menu_ul>li>ul>li.current:before {
    color: rgba(52, 223, 131, 0.5);
}

.menu_ul>li>ul>li>ul {
    margin-top: 9px;
    list-style: disc;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 47px;
    margin-bottom: 18px;
}

.menu_ul>li>ul>li>ul li {
    margin-bottom: 7px;
}

.menu_ul>li>ul>li>ul li.current {
    color: rgba(52, 223, 131, 0.5);
}

 .menu .menu_right{
    display: none;
    transition: left 1s;
}

.menu.open .menu_right {
    display: block;
}

.menu_right {
    padding-top: 145px;
}

.menu_right .pl_head+div {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    bottom: 0;
    height: calc(100% - 140px);
}

.menu_upper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 777;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(50, 52, 64, 0.95);
}

.menu_upper_close {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu_upper_close span {
    position: absolute;
    width: 60px;
    height: 7px;
    background: #1CC96C;
    display: block;
    top: 50%;
    left: 50%;
    margin: -3.5px 0 0 -30px;
    transform: rotate(-45deg);
}

.menu_upper_close span+span {
    transform: rotate(45deg);
}

.menu_upper_block a {
    display: block;
    font-size: 36px;
    font-weight: 100;
    color: #fff;
    text-decoration: none;
}

.menu_upper_block a:hover {
    color: #1CC96C;
}

.menu_upper_block a span {
    font-size: 30px;
    padding-right: 10px;
}

.icon-menu span {
    width: 18px;
    height: 2px;
    background: #fff;
    margin: 0 auto 3px auto;
    display: block;
}

.popup_test {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 777;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(50, 52, 64, 0.95);
}

.popup_head {
    background: #1CC96C;
    color: #fff;
    font-size: 24px;
    width: 100%;
    padding: 21px 22px 0 0;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 4px rgba(0, 0, 0, 0.3);
    position: relative;
}

.popup_head i {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    padding-left: 35px;
}

.popup_head span {
    padding-bottom: 17px;
    padding-left: 24px;
    display: block;
}

.popup_content {
    background: #fff;
    border-radius: 0 0 2px 2px;
    padding: 37px 24px 26px 24px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.24), 0 24px 24px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.popup_content.authorization {
    min-width: 400px;
}

.popup_content.registration {
    min-width: 700px;
    max-width: 700px;
}

.popup_content p {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 30px;
}

.popup_content_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popup_content_block>* {
    width: 48%;
}

.popup_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup_tabs a {
    display: inline-block;
    padding: 10px 25px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.popup_tabs a.active {
    color: #fff;
    border-color: #fff;
}

.popup_reg {
    width: 100%;
    overflow: hidden;
}

.popup_reg_in {
    width: 300%;
    display: flex;
    align-items: stretch;
    transition: all ease 0.4s;
}

.popup_reg_item {
    min-width: 33.3333%;
    width: 33.3333%;
}

.input {
    min-height: 51px;
}

.input_row {
    font-size: 16px;
}

.input_row_full {
    min-width: 100%;
}

.input_row input {
    border: none;
    border-bottom: 2px solid #1CC96C;
    width: 100%;
    display: block;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.input_head {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
}

.input_bottom {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
    text-align: right;
    height: 0;
    margin-top: -15px;
    margin-bottom: 15px;
}

.input_restore {
    font-size: 12px;
    text-align: right;
    padding-top: 37px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input_restore+* {
    margin-top: 28px;
}

.input_restore a {
    margin-left: 15px;
    text-decoration: none;
}

.input_restore a:hover {
    text-decoration: underline;
}

.link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}

.label_checkbox {
    margin-top: 12px;
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.84);
}

.captcha {
    text-align: center;
    padding: 70px 0;
}